extends layout

block selectedLink
  -var selected = '/list/beacons';

block content-head
  h1 Beacons
  
block content-body
  table#list
    thead
      tr
        th Major
        th Minor
        th Room
        th Department
        th Battery
        th Active
        th.edit-col Edit
        th.del-col Delete
    tbody
      if beacons.length > 0
        each beacon, index in beacons
          tr
            td= beacon.major
            td= beacon.minor
            td= beacon.room_name
            td= beacon.department_name
            td= beacon.battery + '%'
            td
              em= (beacon.active.readUInt8(0) == 1 ? 'yes' : 'no')
            td
              a.button(href='/edit/beacon/' + beacon.major + '/' + beacon.minor) Edit
            td
              a.button(href='/delete/beacon/' + beacon.major + '/' + beacon.minor) Delete
      else
        tr
          td(colspan="6") There are no beacons